@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-family: 'Open Sans', sans-serif;
}
a{
	font: inherit;
	color: inherit;	
	transition: color ease-in-out 0.2s;
        text-decoration: none;
}
html{
	/* min-width:1200px; */
}
body{
/*	background: #2B3F57 url(../img/banner.jpg);
	background-size: auto 120%;
*/			
}
.welc{
    background: url(../img/footer_lodyas.png);
}
.news-bg{
    background: url(../img/footer_lodyas.png);  
    /* background: url(../img/halftone.png); */
    /* background: url(../img/sos.png); */
    background: url(../img/ticks.png);
    /* background: url(../img/binding_light.png); */

}
.block{
	width: 39%;
	margin: 5% 0px 0px 0px;
	padding: 2.5%;
	/*background: rgb(192, 67, 50);*/
        
	background: #CF1000;
}
.input{
	padding: 10px;
	font-size: 14pt;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 4%;
	border: none;	
}
heder{
	width:100%;
}
.submit{
	font-size: 14pt;	
	padding: 10px;
	background: #642323;
	border: none;
	box-sizing: border-box;
	width: 39%;
	color: #fff;
	cursor: pointer;
	transition: background ease-in-out 0.3s;
	float: right;
}
.submit:hover{
	background: #0879CF;
	transition: background ease-in-out 0.3s;	
}
.authentication{
	font-size: 14pt;
	color: #fff;		
}
.checkbox{
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.span{
	font-size: 12pt;
	color: #fff;
}
form a:hover{
	color: 	#642323;
	transition: color ease-in-out 0.2s;
}
.getnewpass{	
}

.password{
	width: 57%;
	margin-right: 2%;	
}
.h1-form{
	color: #fff;
	font-size: 18pt;
	text-align: center;
	margin-bottom: 25px;	
}
.text{
	width: 50%;
	font-size: 16pt;
	color: #fff;
	float: right;
	/* margin-right: 150px; */	
}
.in{
        font-size: 50pt;
        /* margin-left: 111px; */
        position: relative;
        top: -16px;
        color: #fff;
}
.text p{
	margin: 25px 0px;	
        text-align: justify;
	font-size: 12pt;
}
.fst-logo{
    width: 85px;
    float: right;
}
.fst-section{
    width: 75%;
    margin:  auto;
}

.copyright{
    font-size: 10pt;
    color: #fff;
    text-align: center;
    padding: 50px 0px 0px 25px;
    font-weight: 100;
}

.invisible{
    
    display: none;
    height: 0px;
}

.error_block{
    
    display: block;
    color: white;
}

.error_block2{
    
    display: block;
    color: red;
}

.copyright{
    font-size: 10pt;
    color: #fff;
    text-align: center;
    padding: 50px 0px 25px 0px;
    font-weight: 100;
}

@media screen and (max-width: 980px) {
    .text{
        float: none;
        width: 100%;
        margin-top: 5%;
    }
    .block{
        width: 100%;
        box-sizing: border-box;
    }
    
}













.top-head{
    /* min-height:  70px; */
    padding: 5px 0px;
    background: #CF1000;
    width: 100%;
}
.content{
    width: 1200px;
    margin: auto;
}
.logo img{
    height: 50px;
    display:  inline-block;
    margin-left: 26px;
}
.logo-h1{
    color: #fff;
    font-size: 32pt;
    display: inline-block;
}
.personal{
    float: right;
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    /* display: none; */
}

.logo{
    width: 350px;
    display: inline-block;
}
.bottom-head{
    min-height: 40px;
    background: #890B00;
    width: 100%;
}
.menu{
    font-size: 18pt;
    font-weight: 100;
    text-transform: uppercase;
    border-top: 3px solid #890B00;
    width: 720px;
    display: inline-block;
}
.menu-li{
    display: inline-block;
    list-style-type: none;
    width: 130px;
    padding: 7px 0px;
    text-align: center;
    color: #fff;
    /* border-bottom: 3px solid #890B00; */
    transition:  background ease-in-out 0.2s, border ease-in-out 0.2s;    
}
.active{
    background: #CF1000;
}
.menu-li:hover{
    background: #CF1000;
    /* border-bottom: 3px solid #CF1000; */
    transition:  background ease-in-out 0.2s, border ease-in-out 0.2s;
}
.news-section{
    margin: 25px 0px 0px 25px;
    background: #fff;
    display: inline-block;
    width: 720px;
    min-height: 450px;
    padding: 25px;
}
.sidebar{
    margin-top: 25px;
    background: #fff;
    display: inline-block;
    width: 350px;
    min-height: 450px;
    vertical-align: top;
    padding: 25px;
}
.h1{
    font-size: 20pt;
    color: #890B00;
    /* font-weight: 400; */
    font-stretch: condensed;
    padding: 10px 0px;
}
.h2{
    font-size: 14pt;
    color: #BE1000;
    font-weight: 400;
    font-stretch: condensed;
    padding: 5px 0px;
}
.top-3 img{
    width: 720px;
}
.top-3{
    width: 720px;
    height: 450px;
    overflow: hidden;
}
.footer{
    background:  #890B00;
    margin-top: 25px;
}
.foot{
    padding: 15px;
}
.post-h2{
max-width: 530px;
display: inline-block;
    font-weight: 700;
    font-size: 14pt;
}
.post-text{
    font-size: 12pt;
    padding: 5px 0px;
    text-align: justify;
}
.post{
    padding: 15px 0px;
    border-bottom: 1px solid #E3E3E3;
    overflow: hidden;
}
.span-time{
    color: #000;
}
.side-post{
    padding:  15px 0px;
    border-bottom: 1px solid #E3E3E3; 
}
.last{
    border: none;
}
.search{
    float: right;
}
.isearch{
    padding: 5px;
    margin-top: 15px;
    border: none;
}

@font-face {
    font-family: 'search font';
    src: url('../fonts/search-font.eot');
    src: url('../fonts/search-font?#iefix') format('embedded-opentype'),
         url('../fonts/search-font.woff') format('woff'),
         url('../fonts/search-font.ttf') format('truetype'),
         url('../fonts/search-font.svg#search-font') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^='icon-']:before{
	display: inline-block;
   font-family: 'search font';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}

.search-icon{
    font-family: 'search font';
    font-size: 14pt;
    padding: 20px 0px 10px 5px;
    float: right;
    color: rgb(137, 11, 0);
}
.head-reg{
    width: 530px;
    padding: 25px 0px;
    margin: auto;
}
.reg-logo{
    /* margin-top: 15px; */
    position: relative;
    width: 137px;
    left: 0px;
    top: 20px;
}
.h2-reg {
    font-weight: 700;
    font-size: 30pt;
    position: relative;
    top: -35px;
    color: #CF1000;
}
.reg-block{
    margin: auto;
}
.h2-reg-form{
    color: #fff;
    
    padding: 10px 0px;
    font-weight: 400;
    font-size: 18pt;
}
.reg-button{
    width: 395px;
    margin-top: 25px;
}
.post-img{
width: 150px;
float: left;
margin: 10px 15px 5px 0px;
}
.loader{
margin: 0px 10px;
float: right;
margin-top: 15px;
}
.show{
	display: block;
}
.hide{
	display: none;
}
#toTop{
	font-family: 'search font', sans-serif;
	font-size: 30px;
	color: rgba(168, 168, 168, 1);
	//border-radius: 10px 0px 0px 10px;
	width: 55px;
	height: 35px;
	position: fixed;
	right: 0px;
	bottom: 90px;
	background: rgba(195, 195, 195, 0.3);
	text-align: center;		
	transition: width ease-in-out 0.2s;
	cursor: pointer;
	padding: 10px 0px;
}
#toTop:hover{
	width: 75px;
	transition: width ease-in-out 0.2s;
}
.hidden{
opacity:0;
}
.visible{
opacity:1;
}
.post-section{
    margin: 25px auto;
    display: block;
}
.makepostInput{
    width: 700px;
    background: #E6E6E6;
    font-size: 13pt;
}
#makePostArea{
    min-height: 250px;
    width: 700px;
    max-width: 700px;
    padding: 10px;
    border: none;
    background: #E6E6E6;
    font-size: 13pt;
}
.makepost-button{
    width: 100%;
    margin: 10px 0px;
}
.post-linkFiles{
    width: 200px;
    display: inline;
}
.My-posts-button{
    width: 100%;
	margin-bottom: 15px;
}
.delete-post{
	opacity:0;
    float: right;
    font-family: 'search font', sans-serif;
    font-size: 15px;
    color: #E3E3E3;
	transition: opacity ease-in-out 0.3s;

	display: flex;
	cursor: pointer;
}
.delete-post:hover{
    color: #CF1000;

}
.post:hover .delete-post{
	opacity: 1;
	transition: opacity ease-in-out 0.3s;
}
.specificIMG{
	display: inline-block;
	max-width: 300px;
	margin: 10px;

}
.pers-title-h1{
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid #E3E3E3;
}
.pers-h2 {
    display: inline-block;
    width: 140px;
    padding: 10px 20px;
    color: #fff;
    margin-top: 10px;
    background: rgb(137, 11, 0);
    text-align: right;
}
.pers-text{
    background: rgb(227, 227, 227);
    display: inline-block;
    padding: 10px 20px;
    font-size: 14pt;
    width: 500px;    
}
.correct{
    opacity: 0;
    float: right;
    font-family: 'search font', sans-serif;
    font-size: 15pt;
    color: #890B00;
    transition: opacity ease-in-out 0.3s;
    display: flex;
    cursor: pointer;
}


.pers-text:hover .correct{
    opacity: 1;
    transition: opacity ease-in-out 0.3s;
}
.correct:active .pers-input{
    height: 20px;
    transition:  height ease-in 0.3s;
}
.pers-input-block-hide{
    display: none;
    opacity: 0;
    overflow: hidden;
    transition:  opacity ease-in 0.3s;
}
.pers-input-block{
    display: none;
    height: 0px;
    opacity: 1;
    overflow: hidden;
    transition:  opacity ease-in 0.3s;
    width: 500px;
}

.pers-input{
    width: 240px;
    font-size: 14pt;
    padding: 10px 20px;
    border: none;
    background: #E3E3E3;
    border-top: 3px solid #fff;
    margin-left: 180px;
    overflow: hidden;
}
.pers-input:active{
    outline: none;
}
.ok{
    float: right;
    font-size: 15pt;
    font-family: 'search font', sans-serif;
    color: #890B00;
    opacity: 0.4;
    transition: opacity ease-in-out 0.3s;
    display: flex;
    cursor: pointer;
    margin: 15px 10px; 
    
}
.ok:hover{
   opacity: 1;
    transition: opacity ease-in-out 0.3s;   
}
.pers-success{
    padding: 5px 20px;
    margin: 5px 0px 0px 180px;
    background: #dff0d8;  
}
.pers-error{
    padding: 5px 20px;
    margin: 5px 0px 0px 180px;
    background: #FFE6E4;  
}
.pers-success h2{
    color: #206F00;  
}