@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-family: 'Open Sans', sans-serif;
}
a{
	font: inherit;
	color: inherit;	
	transition: color ease-in-out 0.2s;
        text-decoration: none;
}
body{
/*	background: #2B3F57 url(../img/banner.jpg);
	background-size: auto 120%;
*/	background: url(../img/footer_lodyas.png);
		
}
.block{
	width: 395px;
	margin: 50px 0px 0px 0px;
	padding: 25px;
	/*background: rgb(192, 67, 50);*/
        background: #b11700;
}
.input{
	padding: 10px;
	font-size: 14pt;
	width: 375px;
	margin-bottom: 10px;
	border: none;	
}
.submit{
	font-size: 14pt;	
	padding: 10px;
	background: #642323;
	border: none;
	width: 150px;
	color: #fff;
	cursor: pointer;
	transition: background ease-in-out 0.3s;
}
.submit:hover{
	background: #0879CF;
	transition: background ease-in-out 0.3s;	
}
.authentication{
	font-size: 14pt;
	color: #fff;		
}
.checkbox{
	margin-right: 5px;
}
.span{
	font-size: 12pt;
	color: #fff;
}
form a:hover{
	color: 	#642323;
	transition: color ease-in-out 0.2s;
}
.getnewpass{	
}

.password{
	width: 215px;
	margin-right: 5px;	
}
.h1-form{
	color: #fff;
	font-size: 18pt;
	text-align: center;
	margin-bottom: 25px;	
}
.text{
	width: 500px;
	font-size: 16pt;
	color: #fff;
	float: right;
	/* margin-right: 150px; */	
}
.in{
        font-size: 50pt;
        /* margin-left: 111px; */
        position: relative;
        top: -16px;
}
.text p{
	margin: 25px 0px;	
        text-align: justify;
}
.fst-logo{
    width: 80px;
    float: right;
}
.fst-section{
    width: 988px;
    margin:  auto;
}

.copyright{
    font-size: 10pt;
    color: #fff;
    text-align: center;
    padding: 50px 0px 0px 25px;
    font-weight: 100;
}

.invisible{
    
    display: none;
    height: 0px;
}

.error_block{
    
    display: block;
    color: white;
}
.copyright{
    font-size: 10pt;
    color: #fff;
    text-align: center;
    padding: 50px 0px 0px 25px;
    font-weight: 100;
}
.top-head{
    /* min-height:  70px; */
    padding: 5px 0px;
    background: #CF1000;
}
.content{
    width: 1200px;
    margin: auto;
}
.logo img{
    height: 50px;
    display:  inline-block;
    margin-left: 26px;
}
.logo-h1{
    color: #fff;
    font-size: 32pt;
    display: inline-block;
}
.personal{
    float: right;
    padding: 20px 0px;
    color: #fff;
    text-decoration: none;
}

.logo{
    width: 500px;
    display: inline-block;
}
.bottom-head{
    min-height: 40px;
    background: #890B00;
}
.menu{
    font-size: 18pt;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 3px solid #890B00;
}
.menu-li{
    display: inline-block;
    list-style-type: none;
    width: 120px;
    padding: 7px 5px;
    text-align: center;
    color: #fff;
    /* border-bottom: 3px solid #890B00; */
    transition:  background ease-in-out 0.2s, border ease-in-out 0.2s;    
}
.menu-li:hover{
    background: #CF1000;
    /* border-bottom: 3px solid #CF1000; */
    transition:  background ease-in-out 0.2s, border ease-in-out 0.2s;
}